/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-theme.min
 *= require_self
 */
body {
    background: #ebedf0
}

.edit-field {
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 206, 206);
    padding: .3rem;
    max-width: 35rem;
    width: 25rem;
    margin: 3rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: .3rem .3rem;
}

.index-list {
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 206, 206);
    padding: .3rem;
    max-width: 65rem;
    width: 45rem;
    margin: 3rem auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: .3rem .3rem;
}

.header {
    display: flex;
    justify-content: center
}

.footer-links {
    display: flex;
    justify-content: center
}